<head>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
  <div class="container">
    <form action="{% url 'courses:registration' %}" method="post">
      <div class="container">
        <h1 class="title">Sign Up</h1>
        <hr>
        <div class="field">
          <label class="label" for="username"><b>User Name</b></label>
          <input class="input" type="text" placeholder="Enter User Name: " name="username" required>
        </div>
        <div class="field">
          <label class="label" for="firstname"><b>First Name</b></label>
          <input class="input" type="text" placeholder="Enter First Name: " name="firstname" required>
        </div>
        <div class="field">
          <label class="label" for="lastname"><b>Last Name</b></label>
          <input class="input" type="text" placeholder="Enter Last Name: " name="lastname" required>
        </div>
        <div class="field">
          <label class="label" for="psw"><b>Password</b></label>
          <input class="input" type="password" placeholder="Enter Password: " name="psw" required>
        </div>
        <div>
            {% csrf_token %}
            <button class="button is-primary" type="submit">Sign Up</button>
        </div>
      </div>
    </form>
  </div>
</body>